<button class="btn btn-link" data-bind="click: sendTestMessage, enable: !busy(), css: {disabled: busy()},
visible: settings.settings.plugins.OctoText.show_navbar_button()">
    <i class="icon-spinner icon-spin" data-bind="visible: busy"></i>
    <a href="#"></a><i class="icon-envelope icon-white" tool-tip-toggle="tooltip" title="OctoText Test"></i></button>
